@font-face {
  font-family: "iconfont"; /* Project id 2811592 */
  src: url('iconfont.woff2?t=1684118590860') format('woff2'),
       url('iconfont.woff?t=1684118590860') format('woff'),
       url('iconfont.ttf?t=1684118590860') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tab_monitor:before {
  content: "\e866";
}

.icon-tab_rule:before {
  content: "\e867";
}

.icon-tab_home1:before {
  content: "\e868";
}

.icon-tab_crisis:before {
  content: "\e869";
}

.icon-tab_adapter:before {
  content: "\e862";
}

.icon-tab_application:before {
  content: "\e863";
}

.icon-tab_source:before {
  content: "\e864";
}

.icon-tab_synchronization1:before {
  content: "\e865";
}

.icon-tab_data:before {
  content: "\e859";
}

.icon-tab_audit1:before {
  content: "\e85a";
}

.icon-tab_enjoy:before {
  content: "\e85b";
}

.icon-tab_synchronization:before {
  content: "\e85c";
}

.icon-tab_consult:before {
  content: "\e85d";
}

.icon-tab_locality:before {
  content: "\e85e";
}

.icon-tab_system1:before {
  content: "\e85f";
}

.icon-operate_icon_reject-copy:before {
  content: "\e858";
}

.icon-operate_icon_reject:before {
  content: "\e856";
}

.icon-search_icon_search:before {
  content: "\e857";
}

.icon-operate_icon_upload:before {
  content: "\e854";
}

.icon-operate_icon_approval:before {
  content: "\e855";
}

.icon-operate_icon_see:before {
  content: "\e853";
}

.icon-operate_icon_card_view:before {
  content: "\e848";
}

.icon-operate_icon_list_view:before {
  content: "\e845";
}

.icon-menu:before {
  content: "\e677";
}

.icon-card_icon_into:before {
  content: "\e831";
}

.icon-card_icon_id:before {
  content: "\e832";
}

.icon-pagination_icon_down:before {
  content: "\e830";
}

.icon-label_icon_normal:before {
  content: "\e829";
}

.icon-label_icon_not:before {
  content: "\e82a";
}

.icon-label_icon_stop:before {
  content: "\e82b";
}

.icon-label_icon_del:before {
  content: "\e82c";
}

.icon-label_icon_stopping:before {
  content: "\e82d";
}

.icon-label_icon_starting:before {
  content: "\e82e";
}

.icon-label_icon_error:before {
  content: "\e82f";
}

.icon-icon-test:before {
  content: "\e606";
}

.icon-icon-test1:before {
  content: "\e60a";
}

.icon-condition-icon-drag:before {
  content: "\e7f9";
}

.icon-operation_icon_columnar:before {
  content: "\e668";
}

.icon-operation_icon_curve:before {
  content: "\e669";
}

.icon-btn_icon_add:before {
  content: "\e667";
}

.icon-operation_icon_file:before {
  content: "\e666";
}

.icon-btn_icon_save:before {
  content: "\e664";
}

.icon-btn_icon_release:before {
  content: "\e665";
}

.icon-btn_icon_upload:before {
  content: "\e663";
}

.icon-btn_icon_edit:before {
  content: "\e65a";
}

.icon-operation_icon_copy:before {
  content: "\e65b";
}

.icon-associated:before {
  content: "\e65c";
}

.icon-news:before {
  content: "\e65d";
}

.icon-operation_icon_ban:before {
  content: "\e65e";
}

.icon-btn_icon_del:before {
  content: "\e65f";
}

.icon-operation_icon_diary:before {
  content: "\e660";
}

.icon-operation_icon_back:before {
  content: "\e661";
}

.icon-operation_icon_editor:before {
  content: "\e662";
}

.icon-title_icon_customer:before {
  content: "\e650";
}

.icon-title_icon_banner:before {
  content: "\e651";
}

.icon-title_icon_supplier:before {
  content: "\e652";
}

.icon-title_icon_goods:before {
  content: "\e653";
}

.icon-title_icon_material:before {
  content: "\e654";
}

.icon-title_icon_vip:before {
  content: "\e655";
}

.icon-title_icon_label:before {
  content: "\e656";
}

.icon-title_icon_order:before {
  content: "\e657";
}

.icon-title_icon_page:before {
  content: "\e658";
}

.icon-title_icon_set:before {
  content: "\e659";
}

.icon-box_icon_search:before {
  content: "\e79f";
}

.icon-icon_change:before {
  content: "\e79e";
}

.icon-icon_return:before {
  content: "\e79d";
}

.icon-search_icon_down:before {
  content: "\e79c";
}

.icon-title_icon_re:before {
  content: "\e79b";
}

.icon-tab_down1:before {
  content: "\e79a";
}

.icon-icon_reduce:before {
  content: "\e799";
}

.icon-icon_increase:before {
  content: "\e798";
}

.icon-input_icon_date:before {
  content: "\e797";
}

.icon-btn_icon_set:before {
  content: "\e796";
}

.icon-loop_icon_node:before {
  content: "\e795";
}

.icon-title_icon_more:before {
  content: "\e794";
}

.icon-title_icon_ophthalmology:before {
  content: "\e793";
}

.icon-title_icon_medical:before {
  content: "\e792";
}

.icon-title_icon_number:before {
  content: "\e791";
}

.icon-title_icon_archives:before {
  content: "\e790";
}

.icon-title_icon_home:before {
  content: "\e78f";
}

.icon-module_icon_inspect:before {
  content: "\e78e";
}

.icon-module_icon_test:before {
  content: "\e78d";
}

.icon-module_icon_operation:before {
  content: "\e78c";
}

.icon-module_icon_treat:before {
  content: "\e78b";
}

.icon-module_icon_medicinal:before {
  content: "\e78a";
}

.icon-module_icon_diagnose:before {
  content: "\e789";
}

.icon-module_icon_medical:before {
  content: "\e788";
}

.icon-module_icon_time:before {
  content: "\e787";
}

.icon-xiangmu24:before {
  content: "\e64f";
}

.icon-del:before {
  content: "\e64e";
}

.icon-sousuo:before {
  content: "\e64d";
}

.icon-tab_icon_data:before {
  content: "\e786";
}

.icon-tab_icon_country:before {
  content: "\e785";
}

.icon-tab_icon_loop:before {
  content: "\e784";
}

.icon-tab_icon_journal:before {
  content: "\e783";
}

.icon-tab_icon_write:before {
  content: "\e781";
}

.icon-tab_icon_rational:before {
  content: "\e780";
}

.icon-tab_icon_achievements:before {
  content: "\e77f";
}

.icon-tab_icon_efficiency:before {
  content: "\e77e";
}

.icon-tab_icon_self:before {
  content: "\e77d";
}

.icon-tab_icon_reform:before {
  content: "\e77c";
}

.icon-tab_icon_income:before {
  content: "\e77b";
}

.icon-tab_icon_auxiliary:before {
  content: "\e77a";
}

.icon-tab_icon_outpatient:before {
  content: "\e779";
}

.icon-tab_icon_hospitalization:before {
  content: "\e778";
}

.icon-tab_icon_hospital:before {
  content: "\e777";
}

.icon-tab_icon_down:before {
  content: "\e773";
}

.icon-tab_icon_up:before {
  content: "\e772";
}

.icon-tab_sustainable:before {
  content: "\e771";
}

.icon-tab_satisfaction:before {
  content: "\e770";
}

.icon-tab_operate:before {
  content: "\e76e";
}

.icon-tab_medical:before {
  content: "\e76c";
}

.icon-tab_home:before {
  content: "\e76a";
}

.icon-public_icon_collection_d:before {
  content: "\e769";
}

.icon-public_icon_collection_s:before {
  content: "\e768";
}

.icon-public_icon_check_d:before {
  content: "\e767";
}

.icon-public_icon_check_s:before {
  content: "\e766";
}

.icon-a-xuanzhong15x:before {
  content: "\e64b";
}

.icon-a-weixuanzhong15x:before {
  content: "\e64c";
}

.icon-weixuanze:before {
  content: "\e647";
}

.icon-xingzhuangjiehe:before {
  content: "\e648";
}

.icon-jiantoubeifen:before {
  content: "\e649";
}

.icon-tab_open:before {
  content: "\e64a";
}

.icon-zhongdianxinxi:before {
  content: "\e63b";
}

.icon-richenganpai:before {
  content: "\e63c";
}

.icon-yiyue:before {
  content: "\e63d";
}

.icon-ribao:before {
  content: "\e63e";
}

.icon-yingyong:before {
  content: "\e63f";
}

.icon-daiyue:before {
  content: "\e640";
}

.icon-tongzhigonggao:before {
  content: "\e641";
}

.icon-tongxunlu:before {
  content: "\e642";
}

.icon-huanzheliebiao:before {
  content: "\e643";
}

.icon-peizhi:before {
  content: "\e644";
}

.icon-xiaoxi:before {
  content: "\e645";
}

.icon-xinwen:before {
  content: "\e646";
}

.icon-ico_dis_release:before {
  content: "\e74f";
}

.icon-logo_drgs:before {
  content: "\e739";
}

.icon-logo_achi:before {
  content: "\e738";
}

.icon-calendar_ico_l:before {
  content: "\e72a";
}

.icon-calendar_ico_r:before {
  content: "\e72b";
}

.icon-ico_return:before {
  content: "\e72c";
}

.icon-f_ico_l:before {
  content: "\e731";
}

.icon-f_ico_r:before {
  content: "\e732";
}

.icon-ico_ok:before {
  content: "\e729";
}

.icon-label_ico_previous:before {
  content: "\e722";
}

.icon-label_ico_next:before {
  content: "\e721";
}

.icon-btn_ico_pre:before {
  content: "\e71e";
}

.icon-i_ico_excel:before {
  content: "\e71d";
}

.icon-btn_ico_artificial:before {
  content: "\e71c";
}

.icon-btn_ico_aut:before {
  content: "\e71b";
}

.icon-p_ico_error:before {
  content: "\e71a";
}

.icon-p_ico_warning:before {
  content: "\e719";
}

.icon-p_ico_success:before {
  content: "\e718";
}

.icon-p_ico_Info:before {
  content: "\e717";
}

.icon-tab3_select:before {
  content: "\e716";
}

.icon-label_ico_del_p:before {
  content: "\e715";
}

.icon-label_ico_del_n:before {
  content: "\e714";
}

.icon-btn_ico_ok:before {
  content: "\e713";
}

.icon-btn_ico_choice:before {
  content: "\e712";
}

.icon-btn_ico_see:before {
  content: "\e711";
}

.icon-btn_ico_download:before {
  content: "\e710";
}

.icon-btn_ico_export:before {
  content: "\e70f";
}

.icon-btn_ico_import:before {
  content: "\e70e";
}

.icon-btn_ico_release:before {
  content: "\e70d";
}

.icon-btn_ico_recovery:before {
  content: "\e70c";
}

.icon-btn_ico_del:before {
  content: "\e70b";
}

.icon-btn_ico_add:before {
  content: "\e70a";
}

.icon-tab_up:before {
  content: "\e709";
}

.icon-tab_down:before {
  content: "\e708";
}

.icon-tab_open-copy:before {
  content: "\e723";
}

.icon-tab_open-copy-copy:before {
  content: "\e860";
}

.icon-tab_close-copy-copy:before {
  content: "\e861";
}

.icon-tab_close-copy:before {
  content: "\e723";
}

.icon-tab_audit:before {
  content: "\e705";
}

.icon-tab_syn:before {
  content: "\e704";
}

.icon-tab_share:before {
  content: "\e703";
}

.icon-tab_master:before {
  content: "\e702";
}

.icon-tab_quote:before {
  content: "\e701";
}

.icon-tab_standard:before {
  content: "\e700";
}

.icon-tab_system:before {
  content: "\e6ff";
}

.icon-logo:before {
  content: "\e6fe";
}

